* {
  font-family: "Rubik", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #fefdfe;
  -webkit-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  margin: 24px auto 56px;
  width: auto;
  max-width: 1200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  width: auto;
  max-width: 994px;
  margin: 0 auto;
}

.buttons {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 48px;
  border: none;
  background-color: #7f57f1;
  color: #ffffff;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.buttons:hover {
  background-color: #906eed;
  outline: 4px solid #ECE7FC;
  cursor: pointer;
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.upper-title {
  color: #7f57f1;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0 0 8px 0;
  letter-spacing: 0.25px;
}

.title {
  margin: 0 0 40px 0;
  color: #333333;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.25px;
}

.card {
  background-color: #ffffff;
  margin: 0 0 30px 0;
  border-radius: 20px;
  -webkit-box-shadow: 4px 0 16px 2px #17064709;
          box-shadow: 4px 0 16px 2px #17064709;
  padding: 24px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.card-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-title {
  color: #333333;
  font-size: 24px;
  font-weight: 600;
}

.card-date-time {
  background-color: #f0eef4;
  color: #8c879a;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
}

.options {
  margin-left: 12px;
  border: none;
  background: none;
  color: #8c879a;
  font-size: 24px;
}

.options:hover {
  cursor: pointer;
}

.task-content {
  max-width: 690px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  color: #8c879a;
  letter-spacing: 0.5px;
  line-height: 28px;
  margin: 0 0 18px 0;
}

.card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.days-left-bar {
  max-width: 524px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.days-left {
  font-size: 14px;
  font-weight: 500;
  color: #8c879a;
}

.progress-bar {
  width: 440px;
  max-width: 440px;
  height: 6px;
  margin-left: 10px;
  border-radius: 30px;
  background-color: #7f57f1;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 500;
  color: #8c879a;
}

.details i {
  font-size: 20px;
}

.details:hover {
  cursor: pointer;
}

.footer {
  margin: 120px 0 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-text .name {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  margin-right: 6px;
}

.footer-text .year {
  font-size: 14px;
  font-weight: 500;
  color: #8c879a;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-link {
  font-size: 20px;
  padding: 6px;
  margin: 6px;
  border-radius: 6px;
  color: #8c879a;
}

.footer-link:hover {
  color: #7f57f1;
  background-color: #ECE7FC;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-content {
  width: 656px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  padding: 32px;
  background-color: #ffffff;
}

.modal-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px 0;
}

.close {
  cursor: pointer;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  font-size: 14px;
  font-weight: 500;
  color: #8c879a;
}

.close i {
  font-size: 20px;
}

.margin-0 {
  margin: 0;
}

.modal-content input, label {
  display: block;
}

.labels {
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 4px 0;
  color: #8c879a;
}

.inputs {
  width: 100%;
  margin: 0 0 20px 0;
  resize: none;
  border: 1px solid #8c879a;
  border-radius: 10px;
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
}

.inputs::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #8c879a;
}

.inputs:-ms-input-placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #8c879a;
}

.inputs::-ms-input-placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #8c879a;
}

.inputs::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #8c879a;
}

#textarea {
  height: 192px;
}

.modal-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#date-input, #time-input {
  height: 48px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #8c879a;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  padding: 15px;
}

.date-div, .time-div {
  margin-right: 30px;
}

.button-flex-end {
  margin-left: auto;
}

@media screen and (max-width: 1224px) {
  .logo {
    margin-left: 12px;
  }
  #new-task {
    margin-right: 12px;
  }
}
/*# sourceMappingURL=style.css.map */